<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
<nav id="navbar" class="w-full p-4 bg-white sticky top-0 left-0 shadow-md">
  <div class="container mx-auto flex flex-row">
    <div class="mr-8 flex-none flex items-center">
      <a
        class="flex flex-row items-center text-orange1 font-bold text-2xl"
        href="/home"
      >
        <img
          class="mr-4 aspect-square"
          src="/img/logo.png"
          alt="logo"
          width="36px"
        />
        SIBELO</a
      >
    </div>
    <div class="flex-1 flex justify-left items-center">
      <a class="mr-8 hover:text-orange1 font-bold" href="/home"
        ><i class="mr-2 fa-solid fa-home"></i> Home</a
      >
      <a class="mr-8 hover:text-orange1 font-bold" href="/browse"
        ><i class="mr-2 fa-solid fa-fire"></i> Lomba</a
      >
      <a class="mr-8 hover:text-orange1 font-bold" href="/browse2"
        ><i class="mr-2 fa-solid fa-graduation-cap"></i> Beasiswa</a
      >
      <a class="mr-8 hover:text-orange1 font-bold" href="/about"
        ><i class="mr-2 fa-solid fa-circle-info"></i> Tentang</a
      >
    </div>
    <div class="ml-8 flex-none flex items-center">
      <a class="flex flex-row items-center hover:text-orange1" href="/profile">
        <img
          class="mr-4 aspect-square rounded-full"
          src="/img/user.jpg"
          alt="logo"
          width="36px"
        />
        Akhdan Al Wafi</a
      >
    </div>
  </div>
</nav>
