<%- include('partials/head')%> <%- include('partials/navbarbef')%>

<div class="container mx-auto flex flex-col justify-start items-start sm:p-8">
  <div
    class="w-full flex flex-row justify-start items-center bg-white rounded-2xl shadow-md p-4"
  >
    <div class="flex-1 flex flex-col p-8 text-[#334155]">
      <h1 class="text-7xl/none font-bold mb-8">
        <span class="text-orange1">SIBELO</span>
      </h1>
      <h2 class="text-3xl/none text-[#334155] mb-8">
        Website penyedia informasi Beasiswa dan Lomba terbaru bagi mahasiswa
        Jambi.
      </h2>
      <p class="mb-8">
        Kebutuhan akan informasi sangat tinggi bagi mahasiswa, tidak terkecual
        informasi mengenai beasiswa dan lomba. Mahasiswa sangat peduli akan
        kualitas dirinya agar dapat bertahan dan menghadapi galapnya dunia
        kuliah bahkan kerja bila ia tidak dibekali oleh ilmu.
      </p>
      <hr class="border border-[#334155] mb-8 border-solid w-full" />
      <h1 class="text-7xl/none font-bold mb-8">VISI & MISI</h1>
      <h2 class="text-3xl/none text-[#334155] mb-8">
        SISTEM INFORMASI <span class="text-orange1">BEASISWA</span> DAN
        <span class="text-orange1">LOMBA</span>
      </h2>
      <p class="">
        Membantu meningkatkan kualitas serta membekalkan diri mahasiswa agar
        dapat berhasil di dunia kampus ataupun kerja.
      </p>
    </div>
    <div class="flex-1 flex flex-col justify-center items-center p-8">
      <img class="aspect-square" src="img/logo.png" alt="" width="500px" />
    </div>
  </div>
</div>
<%- include('partials/footerbef')%>
