<%- include('partials/head')%> <%- include('partials/navbar')%>

<div class="container mx-auto flex flex-col justify-start items-start sm:p-8">
  <div
    class="w-full flex flex-col lg:flex-row bg-white p-8 rounded-2xl shadow-md"
  >
    <div class="flex-1 p-4">
      <h1 class="text-4xl/none font-bold mb-4 text-[#334155]">
        INFORMASI BEASISWA
      </h1>
      <hr class="border border-[#334155] mb-4 border-solid w-full" />
      <input
        class="mb-8 block w-full border-2 border-orange1 border-solid py-2 px-4 rounded-2xl"
        type="text"
        name=""
        id=""
        placeholder="Cari Beasiswa..."
      />
      <div
        class="bg-white border-2 border-orange1 border-solid rounded-2xl p-8 flex items-center mb-4 shadow-md"
      >
        <div
          class="flex flex-1 items-center mr-8 bg-[#334155] w-full justify-center"
        >
          <img
            class="aspect-square rounded-full"
            src="img/node.png"
            alt="gambar-lomba"
            width="256px"
          />
        </div>
        <div class="flex flex-1 flex-col items-start">
          <h1 class="mb-4 text-2xl font-bold">
            Dibuka! Beasiswa Nasional NodeJS Plus Tahun 2019/2020
          </h1>
          <p class="mb-4">
            Hallo teman-teman semuanya dalam kesempatan yang baik inilah admin
            setidaknya akan membagikan nih ya tentang adanya beasiswa ...
          </p>
          <a
            class="bg-orange1 text-center w-full p-2 rounded-2xl text-white hover:bg-[#BA3636]"
            href="/details2"
            >Lihat Selengkapnya</a
          >
        </div>
      </div>
      <div
        class="bg-white border-2 border-orange1 border-solid rounded-2xl p-8 flex items-center mb-4 shadow-md"
      >
        <div
          class="flex flex-1 items-center mr-8 bg-[#334155] w-full justify-center"
        >
          <img
            class="aspect-square rounded-full"
            src="img/express.png"
            alt="gambar-lomba"
            width="256px"
          />
        </div>
        <div class="flex flex-1 flex-col items-start">
          <h1 class="mb-4 text-2xl font-bold">
            Beasiswa Kuliah 2018/2019 Gratis dari PT Express
          </h1>
          <p class="mb-4">
            Hallo teman-teman semuanya dalam kesempatan yang baik inilah admin
            setidaknya akan membagikan nih ya tentang adanya beasiswa ...
          </p>
          <a
            class="bg-orange1 text-center w-full p-2 rounded-2xl text-white hover:bg-[#BA3636]"
            href="/details2"
            >Lihat Selengkapnya</a
          >
        </div>
      </div>
      <div
        class="bg-white border-2 border-orange1 border-solid rounded-2xl p-8 flex items-center mb-4 shadow-md"
      >
        <div
          class="flex flex-1 items-center mr-8 bg-[#334155] w-full justify-center"
        >
          <img
            class="aspect-square rounded-full"
            src="img/mongodb.png"
            alt="gambar-lomba"
            width="256px"
          />
        </div>
        <div class="flex flex-1 flex-col items-start">
          <h1 class="mb-4 text-2xl font-bold">Beasiswa MongoDB</h1>
          <p class="mb-4">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            Exercitationem dignissimos veniam quae nemo nesciunt dicta quisquam
            tempore ea deserunt accusamus, sint voluptate earum quod sed ex
            consectetur vero! Labore, ex.
          </p>
          <a
            class="bg-orange1 text-center w-full p-2 rounded-2xl text-white hover:bg-[#BA3636]"
            href="/details2"
            >Lihat Selengkapnya</a
          >
        </div>
      </div>
      <div class="w-full flex flex-row justify-evenly items-center p-4">
        <a
          class="flex-1 mr-4 text-center p-2 bg-white border border-[#334152] border-solid rounded-2xl hover:text-orange1"
          href=""
          >1</a
        >
        <a
          class="flex-1 mr-4 text-center p-2 bg-white border border-[#334152] border-solid rounded-2xl hover:text-orange1"
          href=""
          >2</a
        >
        <a
          class="flex-1 mr-4 text-center p-2 bg-white border border-[#334152] border-solid rounded-2xl hover:text-orange1"
          href=""
          >3</a
        >
        <a
          class="flex-1 mr-4 text-center p-2 bg-white border border-[#334152] border-solid rounded-2xl hover:text-orange1"
          href=""
          >4</a
        >
        <a
          class="flex-1 mr-4 text-center p-2 bg-white border border-[#334152] border-solid rounded-2xl hover:text-orange1"
          href=""
          >5</a
        >
        <p class="flex-1 mr-4 text-center p-2">...</p>
        <a
          class="flex-1 mr-4 text-center p-2 bg-white border border-[#334152] border-solid rounded-2xl hover:text-orange1"
          href=""
          >Next</a
        >
        <a
          class="flex-1 mr-4 text-center p-2 bg-white border border-[#334152] border-solid rounded-2xl hover:text-orange1"
          href=""
          >Last</a
        >
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer')%>
