<%- include('partials/head')%> <%- include('partials/navbar')%>

<div class="w-full h-max">
  <div class="container mx-auto flex justify-center items-center">
    <div class="p-8 bg-white rounded-2xl shadow-md m-8">
      <div
        class="flex justify-center items-center mb-8 bg-[#BA3636] rounded-2xl p-8"
      >
        <img
          class="aspect-square w-[30%] rounded-full"
          src="img/html5.png"
          alt="logo"
        />
      </div>
      <div class="flex justify-start flex-col items-start">
        <h1 class="text-3xl/none text-orange1 font-bold mb-4">
          [GRATIS] Kompetisi Pemrograman HTML 2023, Hadiah 4 Juta
        </h1>
        <p class="mb-8 text-xl/none">Lomba</p>
        <hr class="border border-blue1 mb-4 border-solid w-full" />
        <div class="mb-4 w-full flex flex-row">
          <div class="flex-1">
            <h2 class="mb-4 font-bold">Rincian Lomba</h2>
            <hr class="border border-blue1 mb-4 border-solid w-full" />
            <p>Nama lomba : Lomba Kompetisi Pemrograman HTML 2023</p>
            <p>Jadwal berlangsung : 20/05/2023 - 20/06/2023</p>
            <p>Jenis lomba : Nasional</p>
            <p>Sertifikasi lomba : Ada</p>
            <p>Link lomba : https://lombakompetisihtml2023.com</p>
          </div>
          <div class="flex-1">
            <h2 class="mb-4 font-bold">Syarat dan Ketentuan</h2>
            <hr class="border border-blue1 mb-4 border-solid w-full" />
            <p class="mb-4">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio
              veniam, assumenda esse ex suscipit pariatur, quaerat nulla autem
              corporis nam ea. Esse, nesciunt nihil? Laboriosam, omnis? Sequi
              ullam vel libero harum, repellendus error praesentium velit quia
              eos, itaque alias eligendi tempora fugiat quasi nostrum id odio.
              Perferendis odit ipsam consectetur!
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam
              repudiandae, et voluptatem nesciunt nihil natus hic eius dolores
              non qui rem inventore quaerat dignissimos voluptas laborum rerum
              mollitia ex itaque quae? Unde aut modi amet dolores excepturi
              recusandae, dignissimos reiciendis cumque, beatae hic atque omnis!
              Reprehenderit mollitia velit consectetur sint placeat rerum sed
              quas esse dolorum, eligendi error, illum nesciunt fugit
              laudantium. Aperiam incidunt dolorum nisi fugiat vel!
              Exercitationem, assumenda doloremque. Iure eaque saepe maiores,
              odio enim cumque commodi maxime tempora numquam expedita rem aut
              nobis minima facere fuga placeat reiciendis? Ipsa minus esse quod
              sit modi qui soluta minima!
            </p>
          </div>
        </div>
        <hr class="border border-blue1 mb-8 border-solid w-full" />
        <form class="w-full" action="/catat-lomba">
          <div class="mb-4 flex justify-end items-end">
            <a class="" href="/home">Kembali ke Home Page</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer')%>
