<%- include('partials/head')%>

<div class="w-full h-screen">
  <div
    class="container h-screen mx-auto flex justify-center items-center sm:p-8"
  >
    <div class="p-8 bg-white rounded-2xl shadow-md m-8">
      <div class="flex justify-center items-center mb-8">
        <img class="aspect-square w-[30%]" src="img/logo.png" alt="logo" />
      </div>
      <div class="flex justify-start flex-col items-start">
        <h1 class="text-3xl/none text-orange1 font-bold mb-4">Login</h1>
        <p class="mb-4">Login menggunakan akun SIAKAD UNJA</p>
        <hr class="border border-blue1 mb-4 border-solid w-full" />
        <form class="w-full" action="/login" method="post">
          <label class="block mb-2" for="id">ID / NIM</label>
          <input
            class="block mb-2 w-full border border-orange1 border-solid py-2 px-4 rounded-2xl"
            type="text"
          />
          <label class="block mb-2" for="password">Password</label>
          <input
            class="block mb-2 w-full border border-orange1 border-solid py-2 px-4 rounded-2xl"
            type="password"
          />
          <p class="mb-4">
            <input
              class="mr-2"
              type="checkbox"
              name="remember"
              id="remember"
            />Ingat saya
          </p>
          <p class="mb-2">
            <input type="radio" name="radio" id="user" value="user" /> User
          </p>
          <p class="mb-2">
            <input type="radio" name="radio" id="admin" value="admin" /> Admin
          </p>
          <p class="mb-4">
            <input type="radio" name="radio" id="guest" value="guest" /> Tamu
          </p>

          <hr class="border border-blue1 mb-4 border-solid w-full" />
          <div class="mb-4 flex justify-end items-end">
            <a class="" href="/">Kembali ke Home Page</a>
          </div>
          <button
            class="bg-[#EA580C] text-white w-full p-3 rounded-2xl"
            type="submit"
          >
            Login
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
