<%- include('partials/head')%> <%- include('partials/navbar')%>

<div class="w-full h-max">
  <div class="container mx-auto flex justify-center items-center">
    <div class="p-8 bg-white rounded-2xl shadow-md m-8">
      <div class="flex justify-center items-center mb-8">
        <img
          class="aspect-square w-[30%] rounded-full"
          src="img/user.jpg"
          alt="logo"
        />
      </div>
      <div class="flex justify-start flex-col items-start">
        <h1 class="text-3xl/none text-orange1 font-bold mb-2">
          Akhdan Al Wafi
        </h1>
        <p class="mb-4 text-xl/none">Mahasiswa</p>
        <p class="mb-2 text-base/none">Sistem Informasi</p>
        <p class="mb-4 text-base/none">F1E121084</p>
        <hr class="border border-blue1 mb-4 border-solid w-full" />
        <div class="mb-4 w-full flex flex-col">
          <div class="flex-1 mb-4">
            <h2 class="font-bold text-lg mb-4 text-center">Daftar Lomba</h2>

            <div
              class="bg-white border-2 border-orange1 border-solid rounded-2xl p-8 flex items-center mb-4 shadow-md"
            >
              <div
                class="flex flex-1 items-center mr-8 bg-[#BA3636] w-full justify-center"
              >
                <img
                  class="aspect-square rounded-full"
                  src="img/html5.png"
                  alt="gambar-lomba"
                  width="256px"
                />
              </div>
              <div class="flex flex-1 flex-col items-start">
                <a class="mb-2 text-2xl font-bold" href="/details">
                  [GRATIS] Kompetisi Pemrograman HTML 2023, Hadiah 4 Juta
                </a>
                <h1 class="mb-4 text-lg">Lomba</h1>
                <hr class="border border-[#334155] mb-4 border-solid w-full" />
                <p href="/details" class="mb-4 font-bold">
                  Diterima oleh Admin pada tanggal: 08/06/2023
                </p>
                <hr class="border border-[#334155] mb-4 border-solid w-full" />
                <p
                  class="mb-2 bg-orange1 text-center w-full p-2 rounded-2xl text-white"
                  href=""
                >
                  Diterima
                </p>
              </div>
            </div>

            <div
              class="bg-white border-2 border-[#BA3636] border-solid rounded-2xl p-8 flex items-center mb-4 shadow-md"
            >
              <div
                class="flex flex-1 items-center mr-8 bg-[#BA3636] w-full justify-center"
              >
                <img
                  class="aspect-square rounded-full"
                  src="img/css3.png"
                  alt="gambar-lomba"
                  width="256px"
                />
              </div>
              <div class="flex flex-1 flex-col items-start">
                <a class="mb-2 text-2xl font-bold" href="/details">
                  [GRATIS] Kompetisi CSS Nasional 2022, Hadiah 3 Juta
                </a>
                <h1 class="mb-4 text-lg">Lomba</h1>
                <hr class="border border-[#334155] mb-4 border-solid w-full" />
                <p href="/details" class="mb-4 font-bold">
                  Ditolak oleh Admin pada tanggal: 08/06/2023
                </p>
                <hr class="border border-[#334155] mb-4 border-solid w-full" />
                <p
                  class="mb-2 bg-[#BA3636] text-center w-full p-2 rounded-2xl text-white"
                  href=""
                >
                  Ditolak
                </p>
              </div>
            </div>
          </div>
          <hr class="border border-blue1 mb-4 border-solid w-full" />
          <div class="flex-1">
            <h2 class="text-center font-bold text-lg mb-4">Daftar Beasiswa</h2>

            <div
              class="bg-white border-2 border-orange1 border-solid rounded-2xl p-8 flex items-center mb-4 shadow-md"
            >
              <div
                class="flex flex-1 items-center mr-8 bg-[#334155] w-full justify-center"
              >
                <img
                  class="aspect-square rounded-full"
                  src="img/node.png"
                  alt="gambar-lomba"
                  width="256px"
                />
              </div>
              <div class="flex flex-1 flex-col items-start">
                <a class="mb-2 text-2xl font-bold" href="/details">
                  Dibuka! Beasiswa Nasional NodeJS Plus Tahun 2019/2020
                </a>
                <h1 class="mb-4 text-lg">Beasiswa</h1>
                <hr class="border border-[#334155] mb-4 border-solid w-full" />
                <p href="/details" class="mb-4 font-bold">
                  Diterima oleh Admin pada tanggal: 08/06/2023
                </p>
                <hr class="border border-[#334155] mb-4 border-solid w-full" />
                <p
                  class="mb-2 bg-[#EA580C] text-center w-full p-2 rounded-2xl text-white"
                  href=""
                >
                  Diterima
                </p>
              </div>
            </div>

            <div
              class="bg-white border-2 border-[#BA3636] border-solid rounded-2xl p-8 flex items-center mb-4 shadow-md"
            >
              <div
                class="flex flex-1 items-center mr-8 bg-[#334155] w-full justify-center"
              >
                <img
                  class="aspect-square rounded-full"
                  src="img/express.png"
                  alt="gambar-lomba"
                  width="256px"
                />
              </div>
              <div class="flex flex-1 flex-col items-start">
                <a class="mb-2 text-2xl font-bold" href="/details">
                  Beasiswa Kuliah 2018/2019 Gratis dari PT Express
                </a>
                <h1 class="mb-4 text-lg">Beasiswa</h1>
                <hr class="border border-[#334155] mb-4 border-solid w-full" />
                <p href="/details" class="mb-4 font-bold">
                  Ditolak oleh Admin pada tanggal: 08/06/2023
                </p>
                <hr class="border border-[#334155] mb-4 border-solid w-full" />
                <p
                  class="mb-2 bg-[#BA3636] text-center w-full p-2 rounded-2xl text-white"
                  href=""
                >
                  Ditolak
                </p>
              </div>
            </div>
          </div>
        </div>
        <hr class="border border-blue1 mb-8 border-solid w-full" />
        <form class="w-full" action="/login">
          <button
            class="bg-[#EA580C] text-white w-full p-3 rounded-2xl"
            type="submit"
          >
            Log Out
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer')%>
